@import './base.css';


h1 {
  font-family: 'Clash Display Variable';
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
}

h5 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: fit-content;
}

::selection {
  background-color: #aa988c;
  color: #fffdf1;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 45px;
  }

  h5 {
    font-size: 15px;
  }
}
